body {font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"}
#menu{
  font-size: 22px;
  text-align: center;
  font-weight:bold;
}
.nav-item:hover{
  border-bottom: 2px solid #fff;;
}
.logos{
	padding:0 3px;
}
.sponsor{
	padding:10px;
}
.cover{
  background-image: url("images/home.jpg");
    height: 100%;
	width:100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cover-heading{
  text-align: center;
  color: #fff;
  font-size: 88px;
  padding-top: 50px;
}
.date-heading{
  text-align: center;
  color: #fff;
  font-size: 76px;
  padding-top: 20px;
}
.timer-heading{
  color: #fff;
  font-size: 64px;
  text-align: center;
  float: left;
  border-style: solid;
  border-width: 10px;
  border-color: #000;
  width: 500px;

}
.downtime{
  display:flex;
 flex-wrap:wrap;
 justify-content:center;
}
.left{
  float: right;
}
.right{
  float: left;
}
.section-title{
  font-size: 72px;
  text-align:center;
  font-weight: 250px;
  color:#000;
}
.section-title2{
  font-size: 72px;
  text-align:center;
  font-weight: 250px;
  color:#000;
}
.applyButton{
  display:flex;
 flex-wrap:wrap;
 justify-content:center;
	margin:20px;
  border: 1px solid #fff;
}

.basvuru-title{
  margin: 15px;
  font-size:56px;
}
#disabled-tarih{
  font-size: 32px;
  color: grey;
}
#kulubumuz{
  padding: 20px 0 80px 0;
}
#konusmacilar{
  padding: 20px 0 80px 0;
}
#sponsorlarımız{
  padding: 20px 0 80px 0;
}
#schedule{
  padding: 20px 0 80px 0;
}
.hl-schedule-content {
  padding: 0;

}
@media (max-width: 999px) {
  .hl-schedule-content {
    padding: 10px 30px;
  }
}
.hl-schedule-content .hl-schedule-container {
  font-size: 16px;
  padding: 15px 0;
  text-align: center;
}
@media (max-width: 999px) {
  .hl-schedule-content .hl-schedule-container {
    font-size: 14px;
  }
}
.hl-schedule-content .hl-schedule-container .hl-schedule-table {
  width: 550px;
  margin: 0 auto;
}
@media (max-width: 999px) {
  .hl-schedule-content .hl-schedule-container .hl-schedule-table {
    width: 100%;
  }
}
.hl-schedule-content .hl-schedule-container .hl-schedule-table .hl-schedule-table-header {
  padding-top: 20px;
  font-size: 48px;
  font-weight: bold;
  color: #77000E;
  border-bottom: 2px solid #77000E;
}
@media (max-width: 999px) {
  .hl-schedule-content .hl-schedule-container .hl-schedule-table .hl-schedule-table-header {
    font-size: 28px;
  }
}
.hl-schedule-content .hl-schedule-container .hl-schedule-table .hl-schedule-table-time {
  width: 200px;
  font-size: 28px;
  font-weight: bold;
  padding-top: 10px;
  color: #77000E;
}
@media (max-width: 999px) {
  .hl-schedule-content .hl-schedule-container .hl-schedule-table .hl-schedule-table-time {
    width: 30%;
    font-size: 12px;
  }
}
.hl-schedule-content .hl-schedule-container .hl-schedule-table .hl-schedule-table-event {
  width: 400px;
  color: #000;
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  padding-top: 10px;
  padding-left: 50px;
}
@media (max-width: 999px) {
  .hl-schedule-content .hl-schedule-container .hl-schedule-table .hl-schedule-table-event {
    width: 70%;
    font-size: 16px;
  }

}
.kulup-basligi{
  font-size: 72px;
  text-align:center;
  font-weight: bolder;
  color:#000;
}
.kulup-yazisi{
  font-size:28px ;
  color: #000;
  font-weight: 200 ;
  text-indent: 50px;
}.kulup-yazisi2{
  font-size:28px ;
  color: #000;
  font-weight: 200 ;
}
.yan-baslik{
  font-size: 48px;
  text-align: left;
  font-weight: bold;
  color: #000;
}
.takim{
  font-size: 28px;
  justify-content: center;
  display: flex;
}
@media only screen and (max-width: 992px) {
  .navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1.5rem !important;
  }
  .navbar-brand{
		text-align: center;
	}
  .left{
    float: left;
  }
  .right{
    float: left;
  }
  .kulup-basligi{
    font-size: 44px;
    text-align:center;
    font-weight: bolder;
    color:#000;
  }
  .kulup-yazisi{
    padding: 0px 10px;
    font-size:22px ;
    color: #000;
    font-weight: 200 ;
    text-indent: 50px;
  }
  .kulup-yazisi2{
    padding: 0px 10px;
    font-size:22px ;
    color: #000;
    font-weight: 200 ;
  }
  .yan-baslik{
    padding: 0px 10px;
    font-size: 28px;
    text-align: left;
    font-weight: 250px;
    color: #000;
  }
  .section-title{
    font-size: 44px;
    text-align:center;
    font-weight: bold;
    color:#000;
  }
  .section-title2{
    font-size: 36px;
    text-align:center;
    font-weight: bold;
    color:#000;
  }
  .downtime{
    display:grid;
   flex-wrap:nowrap;
   justify-content:center;
  }
  .cover-heading{
    font-size: 48px;
    padding-top: 10px;
  }

  .date-heading{
    text-align: center;
    color: #fff;
    font-size: 36px;
    padding-top: 5px;
  }
  .timer-heading{
    margin-top: 5px;
    font-size: 30px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: #000;
    width: 300px;
  }
  .basvuru-title{
    margin: 15px;
    font-size:28px;
  }
  #disabled-tarih{
    font-size: 16px;
    color: grey;
  }
  .flip-card:focus .flip-card-inner {
    transform: rotateY(180deg);
  }

}
.site-footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}
.site-footer .site-info {
  font-weight: 400;
  margin-bottom: 10px;
}
.site-footer .site-info a {
  color: #fff;
}
.site-footer .social-block li a {
  color: #fff;
}
.site-footer .social-block li a:hover, .site-footer .social-block li a:focus {
  opacity: 0.8;
}
.accordion {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 24px;
    transition: 0.4s;
	margin:13px 0px;
}

.active, .accordion:hover {
    background-color: #000;
}


.accordion:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
	float: left;
    margin-right: 10px;
}

.active:after {
    content: "\2212";
	color: #fff;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.faq{
	margin:120px 0;
	text-align:justify;
	font-size:20px;
	font-weight:250;
	color:#000;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: absolute;
  width: 300px;
  height: 300px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 300px;
  height: 300px;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #fff;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #fff;
  color: white;
  transform: rotateY(180deg);
}

/* Get the bourbon mixin from http://bourbon.io */
/* Reset */
.flip-clock-wrapper * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-clock-wrapper a {
  cursor: pointer;
  text-decoration: none;
  color: #ccc; }

.flip-clock-wrapper a:hover {
  color: #fff; }

.flip-clock-wrapper ul {
  list-style: none; }

.flip-clock-wrapper.clearfix:before,
.flip-clock-wrapper.clearfix:after {
  content: " ";
  display: table; }

.flip-clock-wrapper.clearfix:after {
  clear: both; }

.flip-clock-wrapper.clearfix {
  *zoom: 1; }

/* Main */
.flip-clock-wrapper {
  font: normal 11px "Helvetica Neue", Helvetica, sans-serif;
  -webkit-user-select: none; }

.flip-clock-meridium {
  background: none !important;
  box-shadow: 0 0 0 !important;
  font-size: 36px !important; }

.flip-clock-meridium a { color: #313333; }

.flip-clock-wrapper {
  text-align: center;
  position: relative;
  width: 100%;
  margin: 1em;
}

.flip-clock-wrapper:before,
.flip-clock-wrapper:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.flip-clock-wrapper:after {
    clear: both;
}

/* Skeleton */
.flip-clock-wrapper ul {
  position: relative;
  float: left;
  margin: 5px;
  width: 60px;
  height: 90px;
  font-size: 80px;
  font-weight: bold;
  line-height: 87px;
  border-radius: 6px;
  background: #000;
}

.flip-clock-wrapper ul li {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 87px;
  text-decoration: none !important;
}

.flip-clock-wrapper ul li:first-child {
  z-index: 2; }

.flip-clock-wrapper ul li a {
  display: block;
  height: 100%;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 200px;
  margin:  !important;
  overflow: visible !important;
  cursor: default !important; }

.flip-clock-wrapper ul li a div {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  font-size: 80px;
  overflow: hidden;
  outline: 1px solid transparent; }

.flip-clock-wrapper ul li a div .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2; }

.flip-clock-wrapper ul li a div.up {
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  top: 0; }

.flip-clock-wrapper ul li a div.up:after {
  content: "";
  position: absolute;
  top: 44px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 3px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4); }

.flip-clock-wrapper ul li a div.down {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  bottom: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.flip-clock-wrapper ul li a div div.inn {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 200%;
  color: #ccc;
  text-shadow: 0 1px 2px #000;
  text-align: center;
  background-color: #333;
  border-radius: 6px;
  font-size: 70px; }

.flip-clock-wrapper ul li a div.up div.inn {
  top: 0; }

.flip-clock-wrapper ul li a div.down div.inn {
  bottom: 0; }

/* PLAY */
.flip-clock-wrapper ul.play li.flip-clock-before {
  z-index: 3; }

.flip-clock-wrapper .flip {   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7); }

.flip-clock-wrapper ul.play li.flip-clock-active {
  -webkit-animation: asd 0.01s 0.49s linear both;
  -moz-animation: asd 0.01s 0.49s linear both;
  animation: asd 0.01s 0.49s linear both;
  z-index: 5; }

.flip-clock-divider {
  float: left;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 100px; }

.flip-clock-divider:first-child {
  width: 0; }

.flip-clock-dot {
  display: block;
  background: #323434;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  left: 5px; }

.flip-clock-divider .flip-clock-label {
  position: absolute;
  top: -1.5em;
  right: -86px;
  color: white;
  font-size: 24px;
  text-shadow: none; }

.flip-clock-divider.minutes .flip-clock-label {
  right: -88px; }

.flip-clock-divider.seconds .flip-clock-label {
  right: -91px; }

.flip-clock-dot.top {
  top: 30px; }

.flip-clock-dot.bottom {
  bottom: 30px; }

@-webkit-keyframes asd {
  0% {
    z-index: 2; }

  100% {
    z-index: 4; } }

@-moz-keyframes asd {
  0% {
    z-index: 2; }

  100% {
    z-index: 4; } }

@-o-keyframes asd {
  0% {
    z-index: 2; }

  100% {
    z-index: 4; } }

@keyframes asd {
  0% {
    z-index: 2; }

  100% {
    z-index: 4; } }

.flip-clock-wrapper ul.play li.flip-clock-active .down {
  z-index: 2;
  -webkit-animation: turn 0.5s 0.5s linear both;
  -moz-animation: turn 0.5s 0.5s linear both;
  animation: turn 0.5s 0.5s linear both; }

@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotateX(90deg); }

  100% {
    -webkit-transform: rotateX(0deg); } }

@-moz-keyframes turn {
  0% {
    -moz-transform: rotateX(90deg); }

  100% {
    -moz-transform: rotateX(0deg); } }

@-o-keyframes turn {
  0% {
    -o-transform: rotateX(90deg); }

  100% {
    -o-transform: rotateX(0deg); } }

@keyframes turn {
  0% {
    transform: rotateX(90deg); }

  100% {
    transform: rotateX(0deg); } }

.flip-clock-wrapper ul.play li.flip-clock-before .up {
  z-index: 2;
  -webkit-animation: turn2 0.5s linear both;
  -moz-animation: turn2 0.5s linear both;
  animation: turn2 0.5s linear both; }

@-webkit-keyframes turn2 {
  0% {
    -webkit-transform: rotateX(0deg); }

  100% {
    -webkit-transform: rotateX(-90deg); } }

@-moz-keyframes turn2 {
  0% {
    -moz-transform: rotateX(0deg); }

  100% {
    -moz-transform: rotateX(-90deg); } }

@-o-keyframes turn2 {
  0% {
    -o-transform: rotateX(0deg); }

  100% {
    -o-transform: rotateX(-90deg); } }

@keyframes turn2 {
  0% {
    transform: rotateX(0deg); }

  100% {
    transform: rotateX(-90deg); } }

.flip-clock-wrapper ul li.flip-clock-active {
  z-index: 3; }

/* SHADOW */
.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both; }

.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.3s linear both; }

/*DOWN*/
.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both; }

.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.2s linear both; }

@-webkit-keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-moz-keyframes hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-o-keyframes hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }
    .flip-clock-wrapper {
        text-align: center;
        position: relative;
        width: 100%;
        margin: 1em;
}
  .flip-clock-wrapper {
      margin: 0px auto!important;
      padding-top: 50px;
      width: 620px;
  }
  @media only screen and (max-width: 992px) {
    .flip-clock-wrapper {
        text-align: center;
        position: relative;
        width: 100%;
        margin: 1em;
}
    .flip-clock-wrapper {
      margin: 0px  30px 0px auto !important;
        vertical-align: middle;
        padding-top: 30px;
        width: 450px;
        transform: scale(0.6);
        right: 30px;
    }

    .flip-clock-wrapper ul li a div div.inn{
      font-size: 2.5rem;
   }
  .flip-clock-wrapper ul li a div{
    font-size: 3rem;
      }
  .flip-clock-wrapper ul {
    width: 2.4rem;
    height: 3rem;
    font-size: 3rem;
  }

  .flip-clock-wrapper ul li {
    line-height: 3rem;
  }

  /* Adjust the position of the top's dot */
  .flip-clock-dot.top {
    top: 1.2rem;
  }
  /* Adjust the position of the bottom's dot */
  .flip-clock-dot.bottom {
    bottom: 0;
    top: 2.1rem;
  }

  .flip-clock-dot{
    width: .5rem;
    height: .5rem;
  }

  .flip-clock-divider {
    width: 1rem;
    height: 5rem;
  }
  .flip-clock-divider .flip-clock-label{
    right: -4.5rem;
}

.flip-clock-divider.minutes .flip-clock-label {
  right: -4.5rem;
}
.flip-clock-divider.seconds .flip-clock-label {
  right: -4.1rem;
}
    }

.card{
  transform: scale(0.9);
}
.card-text{
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}
#myBtn {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}
