body {font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
a:hover{
  text-decoration: none!important;
}
#SLIDE_BG{
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  background-image: url(bg/index.gif);
}
#menu{
  font-size: 18px;
  text-align: center;
}
.igname{
  color:#262626;
  font-size: 22px;
  font-weight: 300;
}
.igname:hover{
  color:#A50E38;
  font-size: 22px;
  font-weight: 300;
}
.hashtag{
  color:#262626;
  font-size: 18px;
  font-weight: 300;
}
.hashtag:hover{
  color:#A50E38;
  font-size: 18px;
  font-weight: 300;
}
.navbar-brand{
  padding-left: 20px;
}
.site-footer {
  text-align: center;
  padding: 10px 0;
}
.site-footer .site-info {
  font-weight: 300;
}
.site-footer .site-info a {
  color: #fff;
}
.nav-item:hover {

}
.container{
  display: flex;
}
.head{
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .nav-item {
  padding-left: 30px;
  }
  #carouselExampleControls{
    display: none;
  }
  #mobGE{
    display: none;
  }
  #mobPG{
    display: none;
  }
  #mobIlan{
    display: none;
  }
  #ürünlerMob{
    display: none ;
  }
  .pcNone{
    display: none !important;
  }
  .pcIndeximg{

  }
  .fixed-bottomMob{
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .girisimprojeimg{
    height: 350px !important;
    width: 350px !important;
  }
  .calendari{
      width: 100%;
      height: 800px;
  }
  .instaIMG{
    width: 65%!important;
    height: 65%!important;
  }
  .blogImg{
    width: 65%;
    height: 65%;

  }
  .googleForm{
    width:100%!important;
    height: 1800px;
  }
}
@media only screen and (max-width: 992px) {
  .nav-item {
  text-align: center;}
  .dropdown-item{
    text-align: center !important;
  }
  .calendari{
      width: 100%;
      height: 500px;
  }
  #indexImagesPC{
    display: none;
  }
  #pcGE{
    display: none;
  }
  #pcPG{
    display: none;
  }
  #pcIlan{
    display: none;
  }
  #ürünlerPC{
    display: none !important;
  }
  .mobNone{
    display: none !important;
  }
  .fixed-bottomMob{
    margin-top: 200px;
  }
  .girisimprojeimg{
    height: 225px !important;
    width: 225px !important;
  }
  .blogImg{
    width: 100%;
    height: 100%
  }
  .stajyerImg{
    width: 100%;
  }
  .googleForm{
    width:100%!important;
    height: 1808px;

  }
  }

  #welc{
    padding-top: 95px;
  }
.site-footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}
.site-footer .site-info {
  font-weight: 400;
  margin-bottom: 10px;
}
.site-footer .site-info a {
  color: #fff;
}
.site-footer .social-block li a {
  color: #fff;
}
.site-footer .social-block li a:hover, .site-footer .social-block li a:focus {
  opacity: 0.8;
}
.logos{
	padding:0 3px;
}
#mail{
	text-decoration:none;
  color:#A50E38 !important;
}
#mail:hover {
	border-bottom:1px solid #A50E38;
}
.vm{
        top: 50%;
}
.etkinlikler{
  font-size: 50px;
}
.fixedButton {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}
.blogM{
  border: 1px #F1F1F0 groove;
}
.icon{
  padding-bottom: 5px;
  padding-right: 5px;
}
.icon2{
  padding-bottom: 2px;
  padding-right: 2px;
}
.googleForm{
  text-align: center;
}
/* [1] The container */
.img-hover-zoom {
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}

.pmail{
  color:#212529;
}
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: absolute;
  width: 300px;
  height: 300px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 300px;
  height: 300px;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #fff;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #fff;
  color: white;
  transform: rotateY(180deg);
}


@media only screen and (min-width: 992px) {
  .smlogoimg{
    height:128px;
  }
  .header{
    font-size:32px;
    font-weight: 550;
    font-style: oblique;
    color:#2F312E
  }
  .headerIndex{
    font-size:48px;
    font-weight: 550;
    color:#2F312E
  }
  .headerIndex2{
    font-size:32px;
    font-weight: 550;
    color:#2F312E
  }
  .header2{
    font-size:28px;
    font-weight: 450;
    font-style: oblique;
    color:#2F312E
  }
  .letter{
    font-size:20px;
    color:#2F312E
  }
  .card-title{
    font-weight: 500;
    color:#2F312E
  }
  .blogHeader{
    font-weight: 500;
    font-size: 26px;
  }
  .blogHeader:hover{
    font-weight: 500;
    font-size: 26px;
    color:#A50E38
  }
  .classBlog{
    font-size:22px;
    color:#2F312E
  }
  .classBlog:hover{
    font-size:22px;
    color:#C76F30
  }
  .blogDate{
    font-size:22px;
    color:#2F312E
  }
.indexHeader{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.indexHeaderP{
  color: #fff;
  font-size:64px;
  font-weight: 750;
  text-shadow: 2px 2px 5px black;
}
.btn-xlarge {
    padding: 32px 48px !important;
    font-size: 48px!important;
    border-radius: 25%!important;
    margin-bottom: 85px!important;
}
.ykaltyazi{
  font-size: 22px;
}
.ekibimizBaslik{
  font-size:38px!important;
}
.headerBig{
  font-size: 42px!important;
  font-weight: bold;
}
}
@media only screen and (max-width: 992px) {
  .smlogoimg{
    height:64px;
  }
  .headerIndex{
    font-size:32px;
    font-weight: 550;
    color:#2F312E
  }
  .headerIndex2{
    font-size:26px;
    font-weight: 550;
    color:#2F312E
  }
  .headerBig{
    font-size: 26px;
    font-weight: bold;
  }
  .ykaltyazi{
    font-size:22px;
  }
  .ekibimizBaslik{
    font-size:28px!important;
  }
  .indexHeader{
      margin-top: 65px;
  }
  .header{
    font-size:26px;
    font-weight: 550;
    font-style: oblique;
    color:#2F312E
  }
  .header2{
    font-size:22px;
    font-weight: 450;
    font-style: oblique;
    color:#2F312E
  }
  .letter{
    font-size:18px;
    color:#2F312E
  }
  .card-title{

    font-weight: 500;
    color:#2F312E
  }
  .blogHeader{
    font-weight: 500;
    font-size: 24px;
  }
  .blogHeader:hover{
    font-weight: 500;
    font-size: 24px;
    color:#A50E38
  }
  .classBlog{
    font-size:20px;
    color:#2F312E
  }
  .classBlog:hover{
    font-size:20px;
    color:#C76F30
  }
  .blogDate{
    font-size:20px;
    color:#2F312E
  }
  .etkinlikler{
    font-size: 30px;
  }
  .indexHeaderP{
    color: #fff;
    font-size:48px;
    font-weight: 750;
    text-shadow: 2px 2px 5px black;
  }
  .btn-xlarge {
      padding: 16px 32px !important;
      font-size: 32px!important;
      border-radius: 25%!important;
      margin-bottom: 55px!important;
  }
  }
.badge-darkH:hover{
  background-color: #A50E38;
  text-shadow: 2px 2px 5px black;
}
.logoHidden{
  margin-bottom: 12px;
  margin-right: 5px;
}
#hiddenI {
    display: none;
}
#imranCard:hover #hiddenI {
    display: inline;
}
#imranCard:hover #imranHeader {
    color:#2969AF!important;
}

#hiddenD {
    display: none;
}
#damlaCard:hover #hiddenD {
    display: inline;
}
#damlaCard:hover #damlaHeader {
    color:#2969AF!important;
}

#hiddenE {
    display: none;
}
#emreCard:hover #hiddenE {
    display: inline;
}
#emreCard:hover #emreHeader {
    color:#2969AF!important;
}

#hiddenM {
    display: none;
}
#merveCard:hover #hiddenM {
    display: inline;
}
#merveCard:hover #merveHeader {
    color:#2969AF!important;
}

#hiddenU {
    display: none;
}
#umutCard:hover #hiddenU {
    display: inline;
}
#umutCard:hover #umutHeader {
    color:#2969AF!important;
}

#hiddenEz {
    display: none;
}
#ezgiCard:hover #hiddenEz {
    display: inline;
}
#ezgiCard:hover #ezgiHeader{
    color:#2969AF!important;
}

#hiddenF {
    display: none;
}
#fatmaCard:hover #hiddenF {
    display: inline;
}
#fatmaCard:hover #fatmaHeader {
    color:#2969AF!important;
}
#mailC{
  color:#BE5C17;
}
#mailC:hover{
  color:#A50E38;
}
